# ECM401 - Trabalho P4 - Business Intelligence

In [8]:
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine, text

In [9]:
usuario = "root"
senha = "root"
url = "localhost"
porta = "3306"
banco = "ecm401"

# Criar uma conexão com o banco de dados MySQL
engine = create_engine(f"mysql+pymysql://{usuario}:{senha}@{url}:{porta}/{banco}")

# Exemplo de DataFrame
dados = {"id": [1, 2, 3], "nome": ["Ana", "Bruno", "Carlos"], "idade": [25, 30, 28]}
df = pd.DataFrame(dados)

In [10]:
# Escrever o DataFrame para uma tabela no MySQL
df.to_sql('clientes', con=engine, if_exists='append', index=False)

print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!

In [11]:
query = "SELECT * FROM clientes"
df = pd.read_sql(query, con=engine)

display(df.head())

   id    nome  idade
0   1     Ana     25
1   2   Bruno     30
2   3  Carlos     28

In [12]:
# Comando SQL para dropar a tabela
query = text("DROP TABLE IF EXISTS nome_da_tabela")

# Executar o comando usando o método execute()
with engine.connect() as connection:
    connection.execute(query)

print("Tabela removida com sucesso!")

Tabela removida com sucesso!