In [19]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

In [20]:
usuario = "root"
senha = "root"
url = "localhost"
porta = "3306"
banco = "ENEM_OLTP"

# Criar uma conex√£o com o banco de dados MySQL
engine = create_engine(f"mysql+pymysql://{usuario}:{senha}@{url}:{porta}/{banco}")

In [21]:
micro_dados = [
    "TP_FAIXA_ETARIA",
    "TP_SEXO",
    "TP_ESTADO_CIVIL",
    "TP_COR_RACA",
    "TP_NACIONALIDADE",
    "TP_ST_CONCLUSAO",
    "TP_ANO_CONCLUIU",
    "TP_ESCOLA",
    "TP_ENSINO",
    "IN_TREINEIRO",
    "TP_PRESENCA_CN",
    "TP_PRESENCA_CH",
    "TP_PRESENCA_LC",
    "TP_PRESENCA_MT",
    "TP_LINGUA",
    "TP_STATUS_REDACAO",
] + [f"Q{str(i).zfill(3)}" for i in range(1, 26)]

print(micro_dados)

['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']

In [22]:
df_micro_dados = {
    planilha: pd.read_excel(
        f"../datasets/Dicionario_Microdados_Enem_2023.xlsx",
        sheet_name=planilha,
        header=0,
    )
    for planilha in micro_dados
}

for df in df_micro_dados:
    with engine.connect() as connection:
        connection.execute(text(f"DROP TABLE IF EXISTS {df_micro_dados[df].columns[1]}"))
        df_micro_dados[df].to_sql(
            df_micro_dados[df].columns[1], con=engine, if_exists="replace", index=False
        )
        try:
            connection.execute(
                text(
                    f"""
                    ALTER TABLE {df_micro_dados[df].columns[1]}
                    ADD PRIMARY KEY ({df_micro_dados[df].columns[0]})
                    """
                )
            )
        except Exception as e:
            connection.execute(
                text(
                    f"""
                    ALTER TABLE {df_micro_dados[df].columns[1]}
                    MODIFY COLUMN {df_micro_dados[df].columns[0]} CHAR(1)
                    """
                )
            )
            connection.execute(
                text(
                    f"""
                    ALTER TABLE {df_micro_dados[df].columns[1]}
                    ADD PRIMARY KEY ({df_micro_dados[df].columns[0]})
                    """
                )
            )
    print(f"Dados {df_micro_dados[df].columns[1]} inseridos com sucesso!")

Dados FAIXA_ETARIA inseridos com sucesso!
Dados SEXO inseridos com sucesso!
Dados ESTADO_CIVIL inseridos com sucesso!
Dados COR_RACA inseridos com sucesso!
Dados NACIONALIDADE inseridos com sucesso!
Dados ST_CONCLUSAO inseridos com sucesso!
Dados ANO_CONCLUIU inseridos com sucesso!
Dados ESCOLA inseridos com sucesso!
Dados ENSINO inseridos com sucesso!
Dados TREINEIRO inseridos com sucesso!
Dados PRESENCA_CN inseridos com sucesso!
Dados PRESENCA_CH inseridos com sucesso!
Dados PRESENCA_LC inseridos com sucesso!
Dados PRESENCA_MT inseridos com sucesso!
Dados LINGUA inseridos com sucesso!
Dados STATUS_REDACAO inseridos com sucesso!
Dados RESP_QUESTAO_1 inseridos com sucesso!
Dados RESP_QUESTAO_2 inseridos com sucesso!
Dados RESP_QUESTAO_3 inseridos com sucesso!
Dados RESP_QUESTAO_4 inseridos com sucesso!
Dados RESP_QUESTAO_5 inseridos com sucesso!
Dados RESP_QUESTAO_6 inseridos com sucesso!
Dados RESP_QUESTAO_7 inseridos com sucesso!
Dados RESP_QUESTAO_8 inseridos com sucesso!
Dados RESP_QUESTAO_9 inseridos com sucesso!
Dados RESP_QUESTAO_10 inseridos com sucesso!
Dados RESP_QUESTAO_11 inseridos com sucesso!
Dados RESP_QUESTAO_12 inseridos com sucesso!
Dados RESP_QUESTAO_13 inseridos com sucesso!
Dados RESP_QUESTAO_14 inseridos com sucesso!
Dados RESP_QUESTAO_15 inseridos com sucesso!
Dados RESP_QUESTAO_16 inseridos com sucesso!
Dados RESP_QUESTAO_17 inseridos com sucesso!
Dados RESP_QUESTAO_18 inseridos com sucesso!
Dados RESP_QUESTAO_19 inseridos com sucesso!
Dados RESP_QUESTAO_20 inseridos com sucesso!
Dados RESP_QUESTAO_21 inseridos com sucesso!
Dados RESP_QUESTAO_22 inseridos com sucesso!
Dados RESP_QUESTAO_23 inseridos com sucesso!
Dados RESP_QUESTAO_24 inseridos com sucesso!
Dados RESP_QUESTAO_25 inseridos com sucesso!