# Importação das bibliotecas

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

# Instância de conexão com o banco de dados

In [2]:
usuario = "root"
senha = "root"
url = "localhost"
porta = "3306"
banco = "ENEM_OLTP"

# Criar uma conexão com o banco de dados MySQL
engine = create_engine(f"mysql+pymysql://{usuario}:{senha}@{url}:{porta}/{banco}")

# Instância de conexão com o banco de dados DataMart

In [3]:
usuario = "root"
senha = "root"
url = "localhost"
porta = "3306"
banco = "ENEM_DM"

# Criar uma conexão com o banco de dados MySQL
engine_dm = create_engine(f"mysql+pymysql://{usuario}:{senha}@{url}:{porta}/{banco}")

# Mapeamento dos microdados

In [4]:
micro_dados = [
    "FAIXA_ETARIA",
    "SEXO",
    "ESTADO_CIVIL",
    "COR_RACA",
    "NACIONALIDADE",
    "ST_CONCLUSAO",
    "ANO_CONCLUIU",
    "ESCOLA",
    "ENSINO",
    "TREINEIRO",
    "PRESENCA_CN",
    "PRESENCA_CH",
    "PRESENCA_LC",
    "PRESENCA_MT",
    "LINGUA",
    "STATUS_REDACAO",
] + [f"RESP_QUESTAO_{i}" for i in range(1, 26)]

# Criação das tabelas dimensões no DataMart

In [5]:
for tabela in micro_dados:
    query = f"SELECT * FROM {tabela}"
    df = pd.read_sql(query, con=engine)

    colunas = df.columns.tolist()

    df[f"SK_{tabela}"] = np.arange(1, len(df) + 1)

    df = df[[f"SK_{tabela}"] + colunas]

    with engine_dm.connect() as connection:
        connection.execute(text(f"DROP TABLE IF EXISTS DIM_{tabela}"))
        df.to_sql(f"DIM_{tabela}", con=connection, index=False)
        connection.execute(
            text(
                f"""
                ALTER TABLE DIM_{tabela}
                ADD PRIMARY KEY (SK_{tabela})
                """
            )
        )

    print(f"Dimensão {tabela} criada com sucesso! Total de registros: {len(df)}")

Dimensão FAIXA_ETARIA criada com sucesso! Total de registros: 20
Dimensão SEXO criada com sucesso! Total de registros: 2
Dimensão ESTADO_CIVIL criada com sucesso! Total de registros: 5
Dimensão COR_RACA criada com sucesso! Total de registros: 7
Dimensão NACIONALIDADE criada com sucesso! Total de registros: 5
Dimensão ST_CONCLUSAO criada com sucesso! Total de registros: 4
Dimensão ANO_CONCLUIU criada com sucesso! Total de registros: 18
Dimensão ESCOLA criada com sucesso! Total de registros: 3
Dimensão ENSINO criada com sucesso! Total de registros: 2
Dimensão TREINEIRO criada com sucesso! Total de registros: 2
Dimensão PRESENCA_CN criada com sucesso! Total de registros: 3
Dimensão PRESENCA_CH criada com sucesso! Total de registros: 3
Dimensão PRESENCA_LC criada com sucesso! Total de registros: 3
Dimensão PRESENCA_MT criada com sucesso! Total de registros: 3
Dimensão LINGUA criada com sucesso! Total de registros: 2
Dimensão STATUS_REDACAO criada com sucesso! Total de registros: 8
Dimensão RESP_QUESTAO_1 criada com sucesso! Total de registros: 8
Dimensão RESP_QUESTAO_2 criada com sucesso! Total de registros: 8
Dimensão RESP_QUESTAO_3 criada com sucesso! Total de registros: 6
Dimensão RESP_QUESTAO_4 criada com sucesso! Total de registros: 6
Dimensão RESP_QUESTAO_5 criada com sucesso! Total de registros: 20
Dimensão RESP_QUESTAO_6 criada com sucesso! Total de registros: 17
Dimensão RESP_QUESTAO_7 criada com sucesso! Total de registros: 4
Dimensão RESP_QUESTAO_8 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_9 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_10 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_11 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_12 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_13 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_14 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_15 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_16 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_17 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_18 criada com sucesso! Total de registros: 2
Dimensão RESP_QUESTAO_19 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_20 criada com sucesso! Total de registros: 2
Dimensão RESP_QUESTAO_21 criada com sucesso! Total de registros: 2
Dimensão RESP_QUESTAO_22 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_23 criada com sucesso! Total de registros: 2
Dimensão RESP_QUESTAO_24 criada com sucesso! Total de registros: 5
Dimensão RESP_QUESTAO_25 criada com sucesso! Total de registros: 2

# Criação da tabela dimensão de tempo

In [4]:
df = pd.DataFrame()

df["ANO"] = np.arange(1998, 2030)
df["SK_TEMPO"] = np.arange(1, len(df) + 1)

df = df[["SK_TEMPO", "ANO"]]

display(df.head())

with engine_dm.connect() as connection:
    connection.execute(text(f"DROP TABLE IF EXISTS DIM_TEMPO"))
    df.to_sql(f"DIM_TEMPO", con=connection, index=False)
    connection.execute(
        text(
          f"""
          ALTER TABLE DIM_TEMPO
          ADD PRIMARY KEY (SK_TEMPO)
          """
        )
    )

print(f"Dimensão DIM_TEMPO criada com sucesso! Total de registros: {len(df)}")

   SK_TEMPO   ANO
0         1  1998
1         2  1999
2         3  2000
3         4  2001
4         5  2002