In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
usuario = "root"
senha = "root"
url = "localhost"
porta = "3306"
banco = "ENEM_DM"

# Criar uma conexão com o banco de dados MySQL
engine_dm = create_engine(f"mysql+pymysql://{usuario}:{senha}@{url}:{porta}/{banco}")

In [16]:
query = """
  WITH CTE AS (
      SELECT
        COR_RACA,
        SEXO,
        AVG(
          NU_NOTA_REDACAO
        ) AS MEDIA_REDACAO
      FROM
        FAT_NOTAS
        JOIN DIM_PARTICIPANTES USING (SK_PARTICIPANTES)
        JOIN DIM_SEXO USING (SK_SEXO)
        JOIN DIM_COR_RACA USING (SK_COR_RACA)
        JOIN DIM_STATUS_REDACAO USING (SK_STATUS_REDACAO)
    WHERE
      TP_STATUS_REDACAO = 1
    GROUP BY
      COR_RACA,
      SEXO
  )
  SELECT
    *,
    RANK() OVER (
      ORDER BY
        MEDIA_REDACAO DESC
    ) AS RNK
  FROM
    CTE
  ORDER BY
    RNK
"""

df = pd.read_sql_query(query, con=engine_dm)

display(df)

         COR_RACA       SEXO  MEDIA_REDACAO  RNK
0          Branca  Feminino       709.38498    1
1          Branca  Masculino      672.62476    2
2   Não declarado  Feminino       655.93132    3
3           Parda  Feminino       643.89233    4
4         Amarela  Feminino       636.62697    5
5         Amarela  Masculino      629.34235    6
6           Preta  Feminino       628.16692    7
7           Parda  Masculino      619.97137    8
8   Não declarado  Masculino      617.61613    9
9           Preta  Masculino      603.67247   10
10      Indígena   Feminino       583.18040   11
11      Indígena   Masculino      556.87197   12

In [11]:
query = """
  WITH CTE AS (
      SELECT
        COR_RACA,
        SEXO,
        SUM(
          NU_NOTA_CN + NU_NOTA_CH + NU_NOTA_LC + NU_NOTA_MT
        ) / 4 AS MEDIA_PROVA
      FROM
        FAT_NOTAS
        JOIN DIM_PARTICIPANTES USING (SK_PARTICIPANTES)
        JOIN DIM_SEXO USING (SK_SEXO)
        JOIN DIM_COR_RACA USING (SK_COR_RACA)
      GROUP BY
        COR_RACA,
        SEXO
  )
  SELECT
    *,
    RANK() OVER (
      ORDER BY
        MEDIA_PROVA DESC
    ) AS RNK
  FROM
    CTE
  ORDER BY
    RNK
"""

df = pd.read_sql_query(query, con=engine_dm)

display(df)

         COR_RACA       SEXO   MEDIA_PROVA  RNK
0          Branca  Feminino   1.086325e+08    1
1           Parda  Feminino   1.075389e+08    2
2           Parda  Masculino  5.353353e+07    3
3          Branca  Masculino  5.134051e+07    4
4           Preta  Feminino   3.103968e+07    5
5           Preta  Masculino  1.637159e+07    6
6         Amarela  Feminino   4.100959e+06    7
7   Não declarado  Feminino   2.915902e+06    8
8         Amarela  Masculino  1.725156e+06    9
9   Não declarado  Masculino  1.511070e+06   10
10      Indígena   Feminino   1.191721e+06   11
11      Indígena   Masculino  6.819642e+05   12

In [15]:
query = """
  SELECT
    COR_RACA,
    SEXO,
    ESTADO_CIVIL,
    COALESCE(AVG(NU_NOTA_MT), 0) AS MEDIA_MT,
    RANK() OVER (
      ORDER BY
        COALESCE(AVG(NU_NOTA_MT), 0) DESC
    ) AS RNK
  FROM
    FAT_NOTAS
    JOIN DIM_PARTICIPANTES USING (SK_PARTICIPANTES)
    JOIN DIM_SEXO USING (SK_SEXO)
    JOIN DIM_COR_RACA USING (SK_COR_RACA)
    JOIN DIM_ESTADO_CIVIL USING (SK_ESTADO_CIVIL)
    JOIN DIM_PRESENCA_MT USING (SK_PRESENCA_MT)
  WHERE
    TP_PRESENCA_MT = 1
  GROUP BY
    COR_RACA,
    SEXO,
    ESTADO_CIVIL
  ORDER BY
    RNK;
"""

df = pd.read_sql_query(query, con=engine_dm)

display(df)

,COR_RACA,SEXO,ESTADO_CIVIL,MEDIA_MT,RNK
0,Não declarado,Masculino,Viúvo(a),654.50000,1
1,Branca,Masculino,Solteiro(a),598.10479,2
2,Branca,Masculino,Não informado,576.26460,3
3,Não declarado,Masculino,Casado(a)/Mora com companheiro(a),570.72821,4
4,Branca,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),569.94752,5
5,Amarela,Masculino,Solteiro(a),565.92747,6
6,Branca,Masculino,Casado(a)/Mora com companheiro(a),565.29842,7
7,Branca,Feminino,Solteiro(a),553.81399,8
8,Não declarado,Masculino,Solteiro(a),550.46665,9
9,Amarela,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),545.71538,10
10,Não declarado,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),542.99535,11
11,Amarela,Masculino,Viúvo(a),542.53333,12
12,Não declarado,Masculino,Não informado,539.08221,13
13,Branca,Masculino,Viúvo(a),537.56774,14
14,Amarela,Masculino,Casado(a)/Mora com companheiro(a),537.53871,15
15,Amarela,Masculino,Não informado,535.06244,16
16,Parda,Masculino,Solteiro(a),534.13961,17
17,Preta,Masculino,Viúvo(a),533.86538,18
18,Branca,Feminino,Não informado,519.58765,19
19,Parda,Masculino,Não informado,519.33640,20
20,Parda,Masculino,Casado(a)/Mora com companheiro(a),519.14289,21
21,Não declarado,Feminino,Solteiro(a),518.61890,22
22,Parda,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),518.13657,23
23,Preta,Masculino,Solteiro(a),513.65761,24
24,Amarela,Feminino,Solteiro(a),506.33853,25
25,Indígena,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),504.78571,26
26,Branca,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),501.68152,27
27,Branca,Feminino,Casado(a)/Mora com companheiro(a),499.22747,28
28,Preta,Masculino,Não informado,499.15583,29
29,Preta,Masculino,Casado(a)/Mora com companheiro(a),498.56148,30
30,Não declarado,Feminino,Não informado,495.38915,31
31,Preta,Masculino,Divorciado(a)/Desquitado(a)/Separado(a),494.67809,32
32,Não declarado,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),492.68983,33
33,Parda,Feminino,Solteiro(a),492.48863,34
34,Parda,Masculino,Viúvo(a),492.42653,35
35,Não declarado,Feminino,Casado(a)/Mora com companheiro(a),486.90253,36
36,Amarela,Feminino,Não informado,486.34336,37
37,Indígena,Masculino,Solteiro(a),483.16864,38
38,Preta,Feminino,Solteiro(a),482.09273,39
39,Indígena,Masculino,Não informado,474.31398,40
40,Parda,Feminino,Não informado,466.45678,41
41,Amarela,Feminino,Casado(a)/Mora com companheiro(a),464.82230,42
42,Parda,Feminino,Casado(a)/Mora com companheiro(a),463.12436,43
43,Parda,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),460.31207,44
44,Preta,Feminino,Não informado,459.46443,45
45,Amarela,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),458.25526,46
46,Branca,Feminino,Viúvo(a),456.03554,47
47,Indígena,Feminino,Solteiro(a),454.28413,48
48,Indígena,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),452.87333,49
49,Preta,Feminino,Divorciado(a)/Desquitado(a)/Separado(a),452.16117,50
50,Preta,Feminino,Casado(a)/Mora com companheiro(a),450.84636,51
51,Amarela,Feminino,Viúvo(a),438.32857,52
52,Indígena,Masculino,Casado(a)/Mora com companheiro(a),438.25556,53
53,Indígena,Feminino,Não informado,437.73221,54
54,Parda,Feminino,Viúvo(a),437.41868,55
55,Indígena,Feminino,Casado(a)/Mora com companheiro(a),435.24679,56
56,Não declarado,Feminino,Viúvo(a),425.93333,57
57,Indígena,Feminino,Viúvo(a),418.20000,58
58,Preta,Feminino,Viúvo(a),401.37432,59

In [17]:
query = """
  with
aux as (
    select
        p.NU_INSCRICAO,
        p.NU.NOTA.REDACAO,
        p.TP.SEXO,
        q.Q005,
        row_number() over (partition by p.NU_INSCRICAO order by n.NU_NOTA_REDACAO desc) as rn
    from
        participantes p
    left join
        notas n on n.NU_INSCRICAO = p.NU_INSCRICAO
    left join
         questionario q on q.NU_INSCRICAO = p. NU_INSCRICAO
    where
        TP_ST_CONCLUSAO = 2
        and TP_COR_RACA = 4
        and TP_FAIXA_ETARIA = 2
)
select
    p.NU_INSCRICAO,
    p.NU.NOTA.REDACAO,
    p.TP.SEXO,
    avg(q.Q005) as media_pessoas_residencia
from
    aux
where
    rn = 1
group by 1, 2, 3
"""

df = pd.read_sql_query(query, con=engine_dm)

display(df)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.REDACAO,\n        p.TP.SEXO,\n        q.Q005,\n        row_number() over (partitio' at line 5")
[SQL:
  with
aux as (
    select
        p.NU_INSCRICAO,
        p.NU.NOTA.REDACAO,
        p.TP.SEXO,
        q.Q005,
        row_number() over (partition by p.NU_INSCRICAO order by n.NU_NOTA_REDACAO desc) as rn
    from
        participantes p
    left join
        notas n on n.NU_INSCRICAO = p.NU_INSCRICAO
    left join
         questionario q on q.NU_INSCRICAO = p. NU_INSCRICAO
    where
        TP_ST_CONCLUSAO = 2
        and TP_COR_RACA = 4
        and TP_FAIXA_ETARIA = 2
)
select
    p.NU_INSCRICAO,
    p.NU.NOTA.REDACAO,
    p.TP.SEXO,
    avg(q.Q005) as media_pessoas_residencia
from
    aux
where
    rn = 1
group by 1, 2, 3
]
(Background on this error at: https://sqlalche.me/e/20/f405)